.dashboard-h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    background-color: #1a1c22;
}
.Card-Chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Cards {
    display: flex;
    margin-top: 50px;
}

.Card {
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 125px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 8px;
    margin-right: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s;
    background-color: #1a1c22;
}

.Card h2 {
    flex: 1;
}

.Card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.Bar-Chart {
    margin-top: 20px;
    width: 1000px;
    height: 550px;
}

.Bar-Chart:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.Card img {
    background-color: #282c35;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 10px;
}

@media (max-width: 600px) {
    .dashboard-h1 {
        padding-left: 133px !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        font-size: medium;
    }
    .Card-Chart {
        align-items: center;
        font-size: 12px;
    }
    .Cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Cards,
    .Card,
    .Bar-Chart {
        width: 80%;
        margin: 8px 0;
    }
    .Card img {
        width: 30px;
        height: 30px;
    }
    .Bar-Chart {
        width: 80%;
        height: 225px;
    }
}
