.sidebar {
    float: left;
    width: 300px;
    min-height: 120vh;
    background: #1a1c22;
    font-size: x-large;
    padding-top: 170px;
    padding-left: 60px;
    top: 0;
}

.side-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 25px;
}

.sidebar .dashboard {
    width: 22px;
    margin-right: 25px;
}

.sidebar .product {
    width: 28px;
    margin-right: 20px;
}

.sidebar .order {
    width: 33px;
    margin-right: 16px;
}

@media (max-width: 600px) {
    .sidebar {
        width: 50px;
        height: auto;
        position: relative;
        font-size: 0;
        padding-top: 70px;
        height: 100%;
    }
    .sidebar,
    .side-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
    .sidebar .dashboard,
    .sidebar .product,
    .sidebar .order {
        width: 15px;
    }
}
