.sidebar {
    width: 14%;
    min-height: 100vh;
    background: #1a1c22;
    color: #f6f5f5;
    font-size: x-large;
    padding: 120px 25px;
    position: fixed;
    top: 0;
}

.side-link {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 25px;
}

.sidebar .dashboard {
    width: 22px;
    margin-right: 25px;
}

.sidebar .product {
    width: 28px;
    margin-right: 20px;
}

.sidebar .order {
    width: 33px;
    margin-right: 16px;
}
