h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    background-color: #1a1c22;
}
.main-table {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: 50px;
}

.main-table .products-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    width: 100%;
}

.main-table .products-table th,
td {
    padding: 10px;
    border: 1px solid white;
    width: 175px;
    font-size: larger;
    height: 65px;
}

.main-table .products-table button {
    color: black;
    width: 100px;
    height: 28px;
    border-radius: 7px;
}

.add-product {
    margin-top: 50px;
    align-self: center;
}

.add-product input,
button {
    color: black;
}

.add-product button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
}

.add-product input {
    margin-top: 20px;
    margin-right: 5px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}

.add-product input::placeholder {
    text-align: center;
}

.edit-form {
    padding: 50px;
    margin-top: 32px;
}

.edit-form input,
button {
    color: black;
}

.edit-form button {
    width: 120px;
    height: 30px;
    border-radius: 20px;
}

.edit-form input {
    margin-top: 20px;
    margin-right: 5px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}

.edit-form input::placeholder {
    text-align: center;
}

.edit-form button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.main-table button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

@media (max-width: 600px) {
    .main-table .products-table thead {
        margin-top: -50px;
    }
    .main-table .products-table thead,
    tbody {
        margin-left: -10px;
    }
    h2 {
        font-size: medium;
    }

    .main-table .products-table th,
    td {
        width: auto;
        padding: auto;
        font-size: 16.5px;
    }
    .main-table .products-table button {
        width: 50px;
    }

    .add-product {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .add-product input {
        width: auto;
        height: 25px;
        margin-top: 15px;
    }

    .add-product button {
        font-size: 12px;
        border-radius: 12px;
        width: 75px;
        height: 35px;
        margin-top: -40px;
    }

    .edit-form {
        margin-top: 0;
    }

    .edit-form button {
        font-size: 12px;
        border-radius: 12px;
        width: 75px;
        height: 35px;
    }
}
