h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    background-color: #1a1c22;
}

.main-order-table {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: 50px;
}

.main-order-table .orders-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    width: 100%;
}

.main-order-table .orders-table td,
th {
    padding: 10px;
    border: 1px solid white;
    width: 175px;
    font-size: larger;
    height: 67px;
}

.main-order-table .orders-table button {
    color: black;
    width: 100px;
    height: 28px;
    border-radius: 7px;
}

.main-order-table .orders-table select,
option {
    color: black;
}

.main-order-table .orders-table button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

@media (max-width: 600px) {
    .main-order-table .orders-table thead {
        margin-top: -50px;
    }
    .main-order-table .orders-table thead,
    tbody {
        margin-left: -10px;
    }
    h2 {
        font-size: medium;
    }

    .main-order-table .orders-table {
        width: auto;
        padding: auto;
        font-size: 10px;
    }
    .main-order-table .orders-table button {
        width: 50px;
    }
    .main-order-table .orders-table button {
        width: 50px;
    }
}
